body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "Lato", sans-serif;
}

span {
  font-size: 14px;
}

footer {
  margin-left: 60px;
  padding-right: 10px;
}

footer {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(143, 135, 135, 0.2);
}

header {
  position: fixed;
  background-color: #c25757;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(143, 135, 135, 0.2);
}

.container {
  padding-top: 30px;
  margin-left: 15%;
  min-height: 100vh;
  max-width: 85%;
  background-color: rgb(232, 232, 232);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 680px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content {
  width: 100%;
  height: 120px;
  display: flex;
  border-top: 0.1px solid rgba(86, 86, 86, 0.285);
  border-bottom: 0.1px solid rgba(86, 86, 86, 0.285);
  overflow: hidden;
}

.top-content .top-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-in;
  width: 75px;
}

.top-content .top-profile:hover {
  background-color: #c9c9c9;
}

.top-content .top-profile .img-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: linear-gradient(to top right, rgb(148, 148, 148), rgb(0, 1, 84));
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content .top-profile span {
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-content .top-profile img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
}

.suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.suggestions:hover {
  background-color: #c9c9c9;
}

.suggestions-profile {
  display: flex;
  align-items: center;
}

.suggestions img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 8px;
}

.post-content {
  margin-top: 30px;
}

.post-card {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 0.1px solid rgba(86, 86, 86, 0.285);
}

.post-profile {
  display: flex;
  align-items: center;
}

.post-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.foto-box {
  width: 100%;
  max-width: 499px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin: 8px 0px 8px 0px;
  background-color: #e8e8e8;
  border-radius: 2px;
  border: 0.1px solid rgba(86, 86, 86, 0.285);
  object-fit: cover;
}

.foto-box:hover {
  cursor: pointer;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
}

.comment-profile:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.delete-btn {
  width: 50px;
}

.delete-btn-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  display: none;
  margin: 0;
}

.delete-btn-img:hover {
  background-color: #e8e8e8;
}

.comment-profile:hover .delete-btn-img {
  display: block;
}

.comment-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.comment-profile-content {
  width: 80%;
}

.comment-input {
  all: unset;
  padding: 8px;
  width: 80%;
  background-color: #e8e8e8;
}

.comment-button {
  width: 20%;
  font-weight: bold;
  border: 0;
  background-color: #e8e8e8;
  cursor: pointer;
}

.show-all-comments {
  margin-top: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  color: blue;
}

.show-all-comments:hover {
  color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
}

.text-btn,
.text-blue {
  color: blue;
  padding-right: 10px;
  cursor: pointer;
}

.text-btn:hover {
  color: rgba(0, 0, 255, 0.5);
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

.d-none {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.jc-spacebtw {
  justify-content: space-between;
}

/* @media screen and (max-width: 1024px) {

} */

@media screen and (max-width: 1200px) {
  header {
    position: fixed;
    background-color: #c25757;
    width: 8%;
  }

  .suggestionsSection {
    display: none;
  }

  .container {
    margin-left: 8%;
    max-width: 92%;
  }
}

@media screen and (max-width: 480px) {
  footer,
  section,
  header {
    padding-left: min(160px, 1%);
    padding-right: min(160px, 1%);
  }

  .foto-box {
    /* height: 80px; */
    margin: 2px;
  }
}
